.shop_item {
  button{
    margin-right: 20px;
    border: red solid 1px;
    border-radius: 15px;
    color: red;
    height: 30px;
    cursor: pointer;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 1150px;
  height: 100px;
  background-color: whitesmoke;
  margin: 1px 0;
  img {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    padding-left: 10px;
  }

  .name {
    font-size: 30px;
    font-weight: bold;
  }

  .color {
    font-size: 15px;
    margin-top: 15px;
  }

  .price {
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
  }
}